https://github.com/guipsamora/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercise_with_Solutions.ipynb

In [120]:
import pandas as pd
import numpy as np

In [121]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [122]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [123]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [124]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [125]:
# number of rows
len(chipo)

4622

In [126]:
# number of columns
len(chipo.columns)

5

In [127]:
#Or
chipo.shape[0]

4622

In [128]:
# or
chipo.shape[1]

5

In [129]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [130]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [131]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [132]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

In [133]:
sum(chipo['quantity'])

4972

In [134]:
chipo['item_price'].dtype

dtype('O')

In [135]:
prices= chipo['quantity'] * chipo['item_price']
prices

0               $2.39
1               $3.39
2               $3.39
3               $2.39
4       $16.98 $16.98
             ...
4617           $11.75
4618           $11.75
4619           $11.25
4620            $8.75
4621            $8.75
Length: 4622, dtype: object

In [136]:
chipo['order_id'].value_counts().count()

1834

In [137]:
chipo['order_id'].unique()[-1]

1834

In [149]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

In [150]:
revenue

39237.02

In [153]:
sum(chipo.groupby['order_id'])

TypeError: 'method' object is not subscriptable

In [141]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [142]:
chipo[chipo['item_name'] == 'Chicken Bowl']['quantity'].sum()

761

In [143]:
chipo['item_price'].dtype

dtype('O')

In [144]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:-1]))

In [145]:
chipo['item_price'].dtype

dtype('float64')

In [146]:
totalOrders = chipo['order_id'].iloc[-1]
totalOrders

1834

In [147]:
chipo['item_name'].unique().size

50

In [154]:
average = revenue / totalOrders
average

21.39423118865867

**FILTERING AND SORTING**

In [ ]:
chipo[chipo]